body {
    font-family: 'Play';
    background-color: #222;
    color: white;
    text-align: center;
    padding: 150px;
}

h1 {
    font-family: 'Play', sans-serif;
    font-weight: 700; /* Жирный */
}

p {
    font-family: 'Play', sans-serif;
    font-weight: 400; /* Обычный */
}

.card img {
    width: 40px;  /* Фиксированная ширина */
    height: 40px; /* Фиксированная высота */
    object-fit: cover; /* Сохраняет пропорции изображения */
    margin-right: 10px;
}

.card a[href*="steamcommunity.com"] img {
    width: 80px;
    height: 80px;
}
