body {
    font-family: 'Play';
    background-color: #222;
    color: white;
    text-align: center;
    padding: 150px;
}

h1 {
    font-family: 'Play', sans-serif;
    font-weight: 700; /* Жирный */
}

p {
    font-family: 'Play', sans-serif;
    font-weight: 400; /* Обычный */
}

.card img {
    width: auto;
    height: 40px; /* Автоматическая высота для сохранения пропорций */
    margin-right: 10px;
}
